.ads_section {
  margin-top: -1.5rem;
}

.ads {
  background-color: #26619c;
  /* margin-left: 1.5rem /* 24px */
  /* margin-right: 1.5rem 24px */
  border-radius: 0.375rem;
  width: 330px;
  height: 268px;
}
.ads h1 {
  text-align: center;
  color: white;
  padding-top: 6rem /* 96px */;
  padding-bottom: 6rem /* 96px */;
  align-items: center;
}

.ads_people {
  background-color: white;
  width: 300px;
  height: 520px;
  border-radius: 0.375rem;
  padding-top: 2rem /* 32px */;
  margin-top: 1rem;
  padding-bottom: 2rem /* 32px */;
  padding-left: 1rem /* 24px */;
  padding-right: 1rem /* 24px */;
}
.ads_people h1 {
  font-size: 18px;
  font-weight: 600;
}

.ads_body {
  align-items: center;
  gap: 1rem /* 16px */;
  display: flex;
  line-height: 0.4rem;
  margin-top: 1rem;
}
.ads_name {
  font-size: 12px;
  font-weight: 600;
}
.ads_paragraph {
  font-size: 13px;
}
.ads_text button {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1.5px solid;
  border-radius: 999px;
  font-size: 14px;
  background-color: #26619c;
  color: white;
}
